<div class="hoojah-poll-widget">
  <div class="hoojah-poll-header">
    <h3>{{i18n "hoojah.poll_title"}}</h3>
  </div>

  {{#if this.poll}}
    <div class="hoojah-poll-votes">
      <div class="hoojah-vote-buttons">
        <button
          class="btn hoojah-vote-btn agree {{if (eq this.userVote.vote_type 'agree') 'active'}}"
          {{on "click" (fn this.vote "agree")}}
          disabled={{this.isVoting}}
        >
          {{d-icon "check"}}
          {{i18n "hoojah.agree"}}
          {{#if this.voteCounts}}
            <span class="vote-count">{{this.voteCounts.agree}}</span>
          {{/if}}
        </button>

        <button
          class="btn hoojah-vote-btn neutral {{if (eq this.userVote.vote_type 'neutral') 'active'}}"
          {{on "click" (fn this.vote "neutral")}}
          disabled={{this.isVoting}}
        >
          {{d-icon "minus"}}
          {{i18n "hoojah.neutral"}}
          {{#if this.voteCounts}}
            <span class="vote-count">{{this.voteCounts.neutral}}</span>
          {{/if}}
        </button>

        <button
          class="btn hoojah-vote-btn disagree {{if (eq this.userVote.vote_type 'disagree') 'active'}}"
          {{on "click" (fn this.vote "disagree")}}
          disabled={{this.isVoting}}
        >
          {{d-icon "times"}}
          {{i18n "hoojah.disagree"}}
          {{#if this.voteCounts}}
            <span class="vote-count">{{this.voteCounts.disagree}}</span>
          {{/if}}
        </button>
      </div>

      {{#if this.voteCounts}}
        <div class="hoojah-vote-stats">
          <div class="vote-bar-container">
            <div class="vote-bar agree" style="width: {{this.agreePercentage}}%"></div>
            <div class="vote-bar neutral" style="width: {{this.neutralPercentage}}%"></div>
            <div class="vote-bar disagree" style="width: {{this.disagreePercentage}}%"></div>
          </div>
          <div class="vote-percentages">
            <span class="agree-pct">{{this.agreePercentage}}% Agree</span>
            <span class="neutral-pct">{{this.neutralPercentage}}% Neutral</span>
            <span class="disagree-pct">{{this.disagreePercentage}}% Disagree</span>
          </div>
          <div class="total-votes">
            {{i18n "hoojah.total_votes" count=this.voteCounts.total}}
          </div>
        </div>
      {{/if}}

      {{#if this.userHasVoted}}
        <div class="hoojah-remove-vote">
          <button
            class="btn-link"
            {{on "click" this.removeVote}}
            disabled={{this.isVoting}}
          >
            {{i18n "hoojah.remove_vote"}}
          </button>
        </div>
      {{/if}}
    </div>
  {{/if}}
</div>
